table {
  border-collapse: collapse;
  padding: 10px;
  border: 1px solid aqua;
}
tr:nth-child(even) {
  color: bisque;
  background-color: blue;
}
tr:nth-child(odd) {
  color: azure;
  background-color: green;
}
td,
th {
  text-align: center;
  width: 100px;
}
