body {
  background-color: hsl(148, 38%, 91%);
}

.background {
  width: 600px;
  height: 650px;
  background-color: white;
  transform: translate(450px, 25px);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  border-radius: 10px;
}
.son_1 {
  font-size: 28px;
  font-weight: 700;
  transform: translate(20px, 20px);
}
.son_2 {
  transform: translate(20px, 40px);
}
.son_3 {
  transform: translate(20px, 40px);
}
.son_4 {
  transform: translate(310px, -17px);
}
.son_5 {
  transform: translate(310px, -17px);
}
.son_6 {
  transform: translate(20px, 20px);
}
.son_7 {
  transform: translate(20px, 20px);
}
.son_8 {
  transform: translate(20px, 40px);
}
.son_9 {
  transform: translate(20px, 40px);
}
.son_10 {
  transform: translate(20px, 40px);
}
.son_11 {
  transform: translate(20px, 40px);
}
.son_12 {
  transform: translate(20px, 40px);
}
.son_13 {
  transform: translate(20px, 40px);
}
.son_14 {
  transform: translate(20px, 40px);
}
#first {
  width: 265px;
  height: 35px;
  border-radius: 7px;
  border-width: 1px;
}
#last {
  width: 265px;
  height: 35px;
  border-radius: 7px;
  border-width: 1px;
}
#email {
  width: 555px;
  height: 35px;
  border-radius: 7px;
  border-width: 1px;
}
button {
  background-color: hsl(169, 82%, 27%);
  width: 555px;
  height: 50px;
  border-radius: 7px;
  border: 0px;
  font-size: 16px;
  color: white;
}
.son_14 {
  transform: translate(20px, 160px);
}
.son_9 {
  transform: translate(50px, 70px);
  font-size: 22px;
}
.son_10 {
  transform: translate(350px, 46px);
  font-size: 22px;
}
.son_11 {
  transform: translate(20px, 80px);
}
.son_12 {
  transform: translate(20px, 80px);
}
#big {
  width: 555px;
  height: 100px;
  border-radius: 7px;
  border-width: 1px;
  transform: translate(0px, 20px);
}
.son_13 {
  transform: translate(20px, 135px);
}
.son_15 {
  border: 1px black solid;
  width: 265px;
  height: 35px;
  transform: translate(20px, -180px);
  border-radius: 7px;
}
.son_16 {
  border: 1px black solid;
  width: 265px;
  height: 35px;
  transform: translate(320px, -216px);
  border-radius: 7px;
}
