* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #d9d9d9;
}

.title {
  height: 100px;
  background-color: black;
  color: white;
  font-weight: bolder;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  height: 700px;
  width: 550px;
  margin-left: -120px;
}
.lorem {
  font-size: 20px;
  color: rgb(62, 216, 243);
  margin-left: 130px;
  width: 750px;
  text-align: center;
  border: 1px black solid;
  background-color: rgb(104, 104, 219);
  border-radius: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
