p {
  color: aquamarine;
  text-align: center;
}
body {
  background-color: aquamarine;
}

h1 {
  color: blueviolet;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}
a {
  color: blue;
  font-size: 20px;
}
button {
  border: 3px;
  border-radius: 16px;
  background-color: blueviolet;
  color: aquamarine;
}
img {
  border-radius: 16px;
}
h2 {
  color: blueviolet;
}
hr {
  height: 15px;
  color: blueviolet;
}
button:active {
  background-color: gray;
  border: solid 2px gray;
}
button:hover {
  cursor: pointer;
  width: 80px;
  height: 20px;
  opacity: 0.5;
  box-shadow: 7px 5px 10px;
  transform: rotate(360deg);
}
button {
  background-color: red;
  border: solid 2px red;
  border-radius: 10px;
  transition: opacity 1s;
  transition: box-shadow 1s;
  transition: transform 1s;
}
