.parent {
  box-shadow: 1px 1px 1px 1px rgb(0, 0, 0);
  width: 850px;
  height: 250px;
  transform: translate(350px, 100px);
  gap: 30px;
}
.son_1 {
  color: hsl(179, 62%, 43%);
  transform: translate(20px);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.son_2 {
  color: hsl(71, 73%, 54%);
  transform: translate(20px);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
}
.son_3 {
  color: hsla(0, 0%, 67%, 0.493);
  transform: translate(20px);
  font-size: 11px;
  font-weight: 100;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.body {
  font-size: 16px;
}
.dad {
  transform: translate(350px, 78px);
  width: 425px;
  background-color: hsl(179, 62%, 43%);
}
.dhtr_1 {
  transform: translate(40px, 15px);
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
}
.dhtr_2 {
  transform: translate(40px, -5px);
  color: white;
  font-size: 26px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.dhtr_3 {
  transform: translate(150px, -85px);
  color: hsl(0, 0%, 80%);
  font-size: 13px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.dhtr_4 {
  transform: translate(40px, -85px);
  color: hsl(0, 0%, 90%);
  font-size: 11px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.btn {
  transform: translate(60px, -50px);
}
button {
  background-color: hsl(71, 73%, 54%);
  width: 300px;
  height: 60px;
  border-radius: 11px;
  border: 0px;
  color: white;
  font-size: 20px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.514);
}
.mom {
  transform: translate(775px, -253px);
  width: 425px;
  background-color: hsl(179, 63%, 50%);
  height: 331px;
}
.frst {
  color: white;
  font-size: 25px;
  transform: translate(40px, 40px);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
}
.scnd {
  color: whitesmoke;
  font-size: 21px;
  transform: translate(40px, 70px);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700px;
}
