body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
  font-family: Arial, sans-serif;
  text-align: center;
}

header {
  background: #1282c7;
  color: white;
  padding: 10px 0;
  text-align: center;
}

main {
  margin-top: 20px;
}

.changeTextButton {
  padding: 10px 15px;
  background-color: #5cb85c;
  border: none;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #4cae4c;
}

.myButton {
  background-color: #4caf50;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
