/* this will reset css and apply new properties */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* nav style */
nav {
  display: flex;
  gap: 320px;
  margin-top: 20px;
}

/* nav's list style*/
nav .categories ul {
  list-style: none;
  display: flex;
  gap: 40px;
}

/* nav's text style*/
nav .categories ul li {
  color: rgb(49, 49, 49);
  text-transform: capitalize;
}

nav h1 {
  font-weight: bold;
  font-style: none;
  font-size: 2em;
  padding: 10px;
  padding-left: 100px;
}

.get_started {
  width: 100px;
  height: 30px;
  background-color: #ffffff;
  border-radius: 20px;
  text-transform: capitalize;
  color: rgb(63, 108, 231);
  font-weight: 700;
  border: 0.5;
  margin-top: 14px;
  border-color: rgb(63, 108, 231);
}

.copy {
  width: 50px;
  height: 45px;
  margin-top: 5px;
  margin-left: 50px;
}
.copy1 {
  width: 50px;
  height: 45px;
  margin-top: 5px;
  margin-left: 50px;
}
.copy2 {
  width: 50px;
  height: 45px;
  margin-top: 5px;
  margin-left: 50px;
}
.copy3 {
  width: 50px;
  height: 45px;
  margin-top: 5px;
  margin-left: 45px;
}
.copy4 {
  width: 190px;
  height: 80px;
  margin-top: 5px;
}

li {
  margin-top: 1px;
  margin-left: 50px;
}
.frame {
  border: 2px solid #3569d8; /* Border style */
  padding: 1px 5px; /* Padding around the text */
  display: inline-block; /* Ensures border doesn't stretch to full width */
  color: #ffffff;
  background-color: #3569d8;
}

.x1 {
  color: rgb(194, 11, 11);
  margin-left: 200px;
  font-size: 56px;
  font-weight: 200;
  margin-top: 31px;
}
h2 {
  font-weight: 200;
  margin-top: 50px;
  margin-left: 200px;
}
input {
  margin-left: 200px;
  width: 420px;
  height: 55px;
}
.get_started1 {
  margin-top: 20px;
  margin-left: 200px;
  color: #3569d8;
  background-color: white;
  border: 0;
  font-size: 1.4em;
}
.get_started2 {
  margin-top: 30px;
  margin-left: 200px;
  text-align: center;
  border-radius: 40px;
  width: 420px;
  height: 50px;
  color: white;
  background-color: #3569d8;
  border: 0;
  font-size: 20px;
}
.img6 {
  height: 120px;
  width: 430px;
  margin-left: 200px;
  margin-top: 20px;
}
.get_started3 {
  margin-left: 200px;
  border-radius: 25px;
  width: 430px;
  height: 50px;
  font-weight: 200;
  background-color: white;
}
.get_started4 {
  margin-top: 17px;
  margin-left: 200px;
  border-radius: 25px;
  width: 430px;
  height: 50px;
  font-weight: 200;
  background-color: white;
}
.get_started5 {
  margin-left: 900px;
  margin-top: -800px;
  display: flex;
  gap: 100px;
  width: 800px;
  height: 800px;
}
