* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.swim {
  position: relative;
  left: 130px;
  top: 150px;
}
.insta {
  position: relative;
  left: -560px;
  bottom: 330px;
}
.web {
  position: relative;
  float: left;
  font-size: 50px;
  top: 20px;
  left: 60px;
  color: white;
}
.sign {
  font-size: 30px;
  margin-left: 750px;
  margin-top: 50px;
  width: 300px;
  border-radius: 5px;
  height: 50px;
  background-color: aqua;
  color: white;
  border: 0;
  width: 340px;
}
body {
  background-image: url(forest.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.parent {
  width: 1050px;
  height: 60px;
  margin-top: -500px;
  margin-left: 400px;
  display: flex;
  flex-direction: row;
  font-size: 25px;
  align-items: flex-end;
  color: rgb(97, 18, 18);
  font-weight: 900;
  flex-wrap: wrap;
  column-gap: 30px;
}
.log {
  margin-top: 20px;
  margin-left: 1400px;
}
.child-6 {
  margin-left: 180px;
  background-color: white;
  border-radius: 3px;
  width: 120px;
  height: 40px;
  text-align: center;
  color: black;
}
.dad {
  width: 450px;
  height: 400px;
  border: 5px solid rgb(255, 255, 255);
  display: flex;
  font-size: 25px;
  color: rgb(44, 44, 44);
  font-weight: 900;
  margin-left: 690px;
  margin-top: 86px;
  background-color: white;
}
.childs.son-1 {
  font-size: larger;
  margin-left: 180px;
}
.childs.son-2 {
  margin-top: 100px;
  margin-left: -160px;
  width: 400px;
  height: 50px;
  display: flex;
}
.childs.son-3 {
  margin-top: 180px;
  margin-left: -400px;
  width: 400px;
  height: 50px;
  display: flex;
}
.childs.son-4 {
  margin-top: 250px;
  margin-left: -420px;
  width: 400px;
  height: 50px;
  font-size: 15px;
  text-decoration: none;
}
.childs.son-5 {
  margin-top: 360px;
  font-size: 15px;
  margin-left: -400px;
}
.childs a {
  color: #007bff;
  text-decoration: none;
}
