* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
}

.container {
  display: grid;
  grid-template-areas:
    "sidebar header header header"
    "sidebar section1 section2 section3"
    "sidebar content content content"
    "sidebar footer footer footer";
  grid-template-columns: 2fr 5fr 5fr 4fr;
  grid-template-rows: auto 1fr 1fr auto;
  height: 100vh;
}

.header {
  grid-area: header;
  background-color: steelblue;
  padding: 20px;
  text-align: center;
}

.sidebar {
  grid-area: sidebar;
  background-color: skyblue;
  padding: 20px;
}

.section1 {
  grid-area: section1;
  background-color: rgb(25, 143, 211);
  padding: 20px;
}

.section2 {
  grid-area: section2;
  background-color: rgb(13, 82, 233);
  padding: 20px;
}

.section3 {
  grid-area: section3;
  background-color: rgb(18, 148, 255);
  padding: 20px;
}

.content {
  grid-area: content;
  background-color: rgb(11, 194, 255);
  padding: 20px;
}

.footer {
  grid-area: footer;
  background-color: rgb(5, 151, 199);
  padding: 20px;
  text-align: center;
}
.section1,
.section2,
.section3,
.content,
.sidebar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
