body {
  background-color: rgb(27, 161, 214);
}

#tr1 {
  background-color: black;
  color: white;
}

#tr2 {
  background-color: whitesmoke;
  color: black;
}

#tr3 {
  background-color: white;
  color: black;
}

#tr4 {
  background-color: whitesmoke;
  color: black;
}

#tr5 {
  background-color: white;
  color: black;
}

#tr6 {
  background-color: whitesmoke;
  color: black;
}
table {
  width: 350px;
}
